# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
ENV/
env/

# PyCharm
.idea/

# Distribution / packaging
*.egg-info/
dist/
build/

# Unit test / coverage reports
.coverage
.pytest_cache/

# Python-specific
*.so
